h1{
background-color: orange;
width: 50%;
height: 50px;
margin: auto;
text-align: center;
text-shadow: grey 0.5 -2px;
}
header{
  background-color: yellow;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}
div{
text-align: justify;
width: 100%;
display: flex;
}
.caja-gris{
  background-color: gray;
  width:70%
}
.caja-amarilla{
  background-color: yellow;



  



  
}